<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%=link_to "Aybars Abdullah Dikmeci","https://www.linkedin.com/in/aybars-abdullah-dikmeci-9754a51a3/", class: "text-white"%></small>
    </div>
</footer>